@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; 
    padding: 20px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.icon-container {
    margin-bottom: 20px;
}

.register-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
}


.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0A192F; 
}


.register-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.register-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
}


.register-button {
    padding: 10px;
    background-color: #0A192F; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #64ffda; 
}


.register-message {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #4B0082; 
}

.complete-data-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0A192F; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-data-button:hover {
    background-color: #64ffda; 
}


@media (max-width: 768px) {
    .register-form {
        padding: 15px;
    }

    .register-icon {
        width: 80px;
        height: 80px;
    }

    .register-button {
        font-size: 0.9rem;
        padding: 8px;
    }
}